<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621896222457-fk0r1v8sq3drcpqg780iienlojeof6ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621896222457-fk0r1v8sq3drcpqg780iienlojeof6ak</string>
	<key>API_KEY</key>
	<string>AIzaSyDWAPPEaMj7NZ-InyoZDcNp2ZXcO9k-b4s</string>
	<key>GCM_SENDER_ID</key>
	<string>621896222457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galGordon.TextMe</string>
	<key>PROJECT_ID</key>
	<string>textme-4df08</string>
	<key>STORAGE_BUCKET</key>
	<string>textme-4df08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621896222457:ios:ae69ae6b98717c53</string>
	<key>DATABASE_URL</key>
	<string>https://textme-4df08.firebaseio.com</string>
</dict>
</plist>